@font-face {
    font-family: "TT Travels";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("TT Travels Light"), url("/fonts/TTTravels/TTTravels-Light.ttf") format("truetype");
}

@font-face {
    font-family: "TT Travels";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("TT Travels Regular"), url("/fonts/TTTravels/TTTravels-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "TT Travels";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("TT Travels Medium"), url("/fonts/TTTravels/TTTravels-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "TT Travels";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("TT Travels Demi Bold"), url("/fonts/TTTravels/TTTravels-DemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "TT Travels";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("TT Travels Bold"), url("/fonts/TTTravels/TTTravels-Bold.ttf") format("truetype");
}