@import './base.css';

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited  {
  text-decoration: none;
  color: inherit;
}

a:hover  {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

body {
  font-family: "TT Travels", sans-serif;
  position: relative;
}

body.menu-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #ffffff;
}
